@tailwind base;
@tailwind components;
@tailwind utilities;
.stroke-about{
 
    color: #3C486B;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d3d3d3;
   
}
 